.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    box-sizing: initial;
    /* background-color: var(--admin-content-color); */
    transition: width 0.4s;
    overflow: hidden;
    z-index: 999;
  }
  .sidebar.active {
    width: 220px;
  }
  .sidebar .sidebar-logo{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;

  }
  .sidebar .sidebar-logo .icon{
    color: red;
    font-size: 2rem;
  }
  .sidebar ul {
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0px !important;
  }
  .sidebar ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-left: 3px solid transparent;
    cursor: pointer;
    margin-bottom: 5px;
    transition: border-left 1s ease;
  }
  ul li:hover{
    opacity: 0.8;
  }
  .sidebar ul li .sidebar-item {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
  }
  .sidebar ul li .sidebar-item .icon, .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .sidebar ul li .sidebar-item .icon .bi {
    font-size: 1.5em;
  }
  .sidebar ul li .sidebar-item .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
  }
  
  .sidebar ul li.active {
    border-left: 3px solid #fff;
    border-top-right-radius: 10px;
  }
  /* .sidebar ul li.active .sidebar-item {
    color: ;
  } */
  